doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='keywords', content='eCool')
    meta(name='description', content='HTML5 eCool')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    block title

    block styles
  body
    header
        | Header
    block content
    footer
        | Footer
    block scripts

